<!-- footer -->

<div class="container-fluid bg-dark py-2">
    <div class="container">
        <div class="row gap-3">
            <div class="col">

                <a class="navbar-brand fs-1 fw-semibold text-light" href="">Blog<span class="text-danger">4</span>U</a>

                <p class="text-secondary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ut repudiandae nobis velit
                    voluptas dolor voluptatum explicabo, nostrum modi nulla fugiat, dolore autem ex reprehenderit
                    commodi molestiae aliquid expedita, consequuntur a distinctio? Eius, illo quae recusandae similique
                    doloribus ducimus quas ratione mollitia ipsum libero, dignissimos vel, quia reprehenderit? Animi
                    aliquid, iusto qui praesenti
                </p>

                <div class="social-handels text-danger d-flex gap-2">
                    <i class="fa-brands fa-facebook fa-2x"></i>
                    <i class="fa-brands fa-whatsapp fa-2x"></i>
                    <i class="fa-brands fa-instagram fa-2x"></i>
                    <i class="fa-brands fa-telegram fa-2x"></i>
                </div>

            </div>
            <div class="col">

                <a class="navbar-brand fs-1 fw-semibold text-light" href="">Quick<span
                        class="text-danger">Links</span></a>

                <div class="mt-3">
                    <div class="row">
                        <div class="col">
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                        </div>
                        <div class="col">
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                        </div>
                        <div class="col">
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                            <div class="text-danger">>> <a class="text-light text-decoration-none" href="">Link 1</a> </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col">
                <iframe class="w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119065.02905779846!2d78.9901093829612!3d21.16106590253875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c0a5a31faf13%3A0x19b37d06d0bb3e2b!2sNagpur%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1703594722687!5m2!1sen!2sin"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>


<!-- footer -->

<!-- custom js -->

<script src="main.js"></script>

</body>

</html>