<%- include('./partials/header.ejs'); %>


    <div class="container-fluid heros-section">
        <div class="container">
            <div class="d-flex align-items-center text-light justify-content-center">
                <h1>Welcome to</h1>
                <a class="navbar-brand fs-1 fw-semibold text-light" href="">Blog<span class="text-danger">4</span>U</a>
            </div>

            <p class="p-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam delectus officiis amet doloremque nobis similique provident odit perspiciatis, animi iusto qui, et nulla eum repellendus deleniti, distinctio cum cupiditate? Aliquid nam ex debitis in hic sequi ipsa optio odio! A vel harum qui commodi, soluta veniam perferendis adipisci debitis reprehenderit laudantium quod at natus voluptatibus fuga nam doloremque tenetur ipsam magnam, quibusdam illum praesentium unde. Voluptate dignissimos vero odio, velit id excepturi unde officiis similique. Voluptatem eaque harum nihil, laudantium non odit. Fuga optio vero modi praesentium hic esse, libero eligendi pariatur eius iusto impedit ducimus illo et sequi earum. Alias ratione porro, architecto id consectetur at repellat quaerat recusandae voluptatem iusto inventore aspernatur dolores autem quisquam maxime necessitatibus reiciendis laboriosam unde quidem a eius qui reprehenderit. Facilis in cupiditate numquam dignissimos dolor dolores vel a totam minus laboriosam unde, officiis ex expedita, eligendi suscipit cumque maxime et sint!
            </p>
        </div>
    </div>


    <%- include('./partials/footer.ejs'); %>